.App {
  text-align: center;
  user-select: none;
}

.App-header {
  background-image: url("./images/Image1.png");
  background-repeat: round;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: White;
}

.SearchBar {
  width: 450px;
  height: 35px;
  border-radius: 25px;
  border-style: none;
}

.Cards {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.singleCards {
  flex: 0 0 calc(20% - 60px);
  max-width: calc(20% - 60px);
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  /* background-color: #282c34; */
}
@media (max-width: 1150px) {
  .singleCards {
    flex: 0 0 calc(25% - 50px);
    max-width: calc(25% - 50px);
  }
}
@media (max-width: 850px) {
  .singleCards {
    flex: 0 0 calc(33.3% - 50px);
    max-width: calc(33.3% - 50px);
  }
}
@media (max-width: 650px) {
  .singleCards {
    flex: 0 0 calc(50% - 50px);
    max-width: calc(50% - 50px);
  }
}
